<img src="https://cdn.pixabay.com/photo/2019/08/06/22/48/artificial-intelligence-4389372_960_720.jpg">

Python es uno de los lenguajes de programación dinámicos más populares que existen entre los que se encuentran Java, Javascript, Go y C#. Aunque es considerado a menudo como un lenguaje "scripting", es realmente un lenguaje de propósito general. En la actualidad, Python es usado para todo, desde simples "scripts", hasta grandes servidores web que proveen servicio ininterrumpido 24×7. Es utilizado para la programación de interfaces gráficas y bases de datos, programación web tanto en el cliente como en el servidor (véase Django o Flask) y "testing" de aplicaciones. Además tiene una amplia aceptación por científicos que hacen aplicaciones para las supercomputadores más rápidas del mundo y por los niños que recién están comenzando a programar.

La historia del lenguaje de programación Python se remonta hacia finales de los 80s y principio de los 90s,1​ su implementación comenzó en diciembre de 19892​ cuando en Navidad Guido Van Rossum que trabajaba en el (CWI) (un centro de investigación holandés de carácter oficial que, entre otras cosas, actualmente alberga la oficina central del W3C) decidió empezar el proyecto como un pasatiempo dándole continuidad al lenguaje de programación ABC del que había formado parte del equipo de desarrollo en el CWI,3​ dicho lenguaje se enfocaba en ser fácil de usar y aprender manteniendo potencia en su desempeño pero el hardware disponible en la época de su creación hacía difícil su uso y el proyecto no trascendió como se esperaba. Van Rossum es por tanto el autor principal de Python y continúa ejerciendo un rol central decidiendo la dirección del lenguaje, en la comunidad de Python se le conoce como Benevolente Dictador Vitalicio (en inglés: Benevolent Dictator for Life, BDFL). El nombre "Python" viene dado por la afición de Van Rossum al grupo Monty Python.

El lenguaje de programación Python fue originalmente desarrollado para el sistema operativo Amoeba

OBTENER DATOS CON PYTHON CON LA FUNCIÓN INPUT

In [1]:
nombre = input("Escribe tu nombre")
edad = input("Escribe tu edad")
print("Hola",nombre," tu edad es: ",edad)

Escribe tu nombreJuana
Escribe tu edad12
Hola Juana  tu edad es:  12

PEQUEÑO CHATEADOR

In [2]:

#Obtener datos con python
#CHATEADOR QUE UTILIZA DOS LISTAS 
informacion = [
"APRENDE A PROGRAMAR CON AEON",
"APRENDE SEXUALIDAD CON AEON",
"APRENDE LENGUAS CON AEON"
]
cursos =[
"1.PROGRAMAR",
"2.SEXUALIDAD",
"3.LENGUAS"
  ]
linkCompra= "https://www.mercadopago.com.co/checkout/v1/payment/redirect/?source=link&preference-id=705767226-dc0e4460-5e4e-40cb-9c3f-52a98d2cf27b&router-request-id=ac39a6cf-2b80-455c-8a76-43de5ac59d2a"

In [3]:

name= input("Escribe tu nombre")
print(name,"Escoge un curso:")
print(cursos[0],cursos[1],cursos[2])
usuario= int(input("Escoge un curso"))
#1.Le preguntamos el curso que quiere el cliente
if usuario == 1:
    print(informacion[0])
if  usuario == 2:
    print(informacion[1])
if usuario == 3:
    print(informacion[2])
#SEGUNDO PROCESO: PREGUNTARLE SI ESTA INTERESADO EN EL CURSO O NO
mensaje = int(input("Escribe 0 para salir y 1 para comprar==>"))
if mensaje == 1:
    print("Este es el link de compra, gracias por preferirnos ==>")
    print(linkCompra)
if mensaje == 0:
    print("Hasta pronto sigue educandote con Aeon Merx")

Escribe tu nombreJuana
Juana Escoge un curso:
1.PROGRAMAR 2.SEXUALIDAD 3.LENGUAS
Escoge un curso2
APRENDE SEXUALIDAD CON AEON
Escribe 0 para salir y 1 para comprar==>1
Este es el link de compra, gracias por preferirnos ==>
https://www.mercadopago.com.co/checkout/v1/payment/redirect/?source=link&preference-id=705767226-dc0e4460-5e4e-40cb-9c3f-52a98d2cf27b&router-request-id=ac39a6cf-2b80-455c-8a76-43de5ac59d2a

<h1 style="text-align:center;"> PYTHON CLASS FOR I.A </h1>

<h4 style="color: red; text-align:center;"> TIPOS DE DATOS </h4>

CADA LENGUAJE DE PROGRAMACIÓN TIENE CIERTOS TIPOS DE DATOS QUE PUEDE ALMACENAR, Y CON LOS CUALES EL LENGUAJE DE PROGRAMACIÓN OPERA.
CUANDO GUARDAMOS INFORMACIÓN EN UNA VARIABLE ESTA INFORMACIÓN ES UN TIPO DE DATO DE PYTHON O VARIOS TIPOS ESPECÍFICOS.
ES IMPORTANTE CONOCER COMO SE ESTRUCTURA ESTE BONITO LENGUAJE.

<p> EN LA TABLA SIGUIENTE OBSERVAREMOS TODOS LOS TIPOS DE DATOS EN PYTHON </p>

<img src="https://image.slidesharecdn.com/python1-140515085114-phpapp01/95/introduccion-a-python-clase-1-8-638.jpg?cb=1400143933">

<h2> LOS 4 TIPOS DE DATOS MAS IMPORTANTES QUE DEBES SABER SON </h2>
-ENTERO
-DECIMAL O FLOTANTE
-STRING O CADENA DE CARACTERES
-BOOLEANO O LÓGICO DONDE SUS POSIBLES VALORES SON FALSO O VERDADERO

In [4]:
# int , float, string , bool
x = 4.5
y = 4
entero,decimal,caracteres,booleano = 6, 4.5, "palabrita",True
print(type(x), type(y))
print("Este es:",entero)
print("Este es:",decimal)
print("Este es:",caracteres)
print("Este es:",booleano)

<class 'float'> <class 'int'>
Este es: 6
Este es: 4.5
Este es: palabrita
Este es: True

OPERADORES:

In [5]:
# > < >= <= == !=
print(None==None)
print(None==0)
print("Hi" >"Hello")
print("Hi" <"Hello")
print(4.5 <= 3.5)

True
False
True
False
False

<H2 style="text-align:center;"> CONVERSION A STRING </H2>

In [6]:

#CONVERSION A STRING
print("hola"+ str(5))
#CONVERSIÓN A ENTERO
print(int("5") + 6)
#CONVERSIÓN A DECIMAL O FLOTANTE
print(float(5))
#CONVERSIÓN A BOOLEANO
print(bool(0))
print(bool(1))
print(bool("hola"))

hola5
11
5.0
False
True
True

<h3 style="text-align:center; color: green;"> OPERADORES ARITMÉTICOS </h3>

In [7]:
#OPERADORES ARITMÈTICOS
print(4+6)
print(6-2)
print(6*2)
print(10/2)
print(11/2)
print(11//2)
print(5**3)

10
4
12
5.0
5.5
5
125

In [8]:
#LIBRERÍA MATH
import math
# Devuelve el entero más próximo mayor o igual que x.
print(math.ceil(5.4))
# Devuelve el entero más próximo menor o igual que x.
print(math.floor(5.4))
# Devuelve el máximo común divisor  de los números a y b.
print(math.gcd(12,16))
print(math.gcd(21,6))
# Devuelve el booleano True si x es un NaN ("Not a Number").--PENDIENTE*
print(math.isnan(math.nan))
print(math.isnan(5))
#Valor equivalente a no es un número
print(math.nan)
#Variables

6
5
4
3
True
False
nan

In [9]:
# Número de Euler
print(math.e)
#Número Pi
print(math.pi)
# math log10(x): Devuelve el logaritmo en base 10 de x.
print(math.log10(400))

2.718281828459045
3.141592653589793
2.6020599913279625

In [10]:
#Funciones trigonométricas
#math.cos(x): Devuelve el coseno de x.
 #math.sin(x): Devuelve el seno de x. 
 #math.tan(x): Devuelve la tangente de x.
print(math.cos(220))
print(math.sin(110))
print(math.tan(180))
#math.degrees(x): Convierte un ángulo de grados sexagesimales a radianes.
print(math.degrees(270))
#math.radians(x): Convierte un ángulo de radianes a grados sexagesimales
print(math.radians(90))

0.9960851708717215
-0.044242678085070965
1.3386902103511544
15469.860468532228
1.5707963267948966

In [11]:
print(10%3)
print(1<3)
print(1>5)
print(1<=0)
print(1!=3)
print(5==6)

1
True
False
False
True
False

<h3 style="text-align:center; color: green;">OPERADORES LÒGICOS </h3>

In [12]:
user , password = "root","123"
is_login = user =="admin" and password == "123"
print(is_login)

False

In [13]:
#and
age = 40
is_adult = age >16 and age <60
print(is_adult)

True

In [14]:
#not 
is_not_adult = not(is_adult)
is_not_allow = not(is_login)
print(is_not_adult)
print(is_not_allow)

False
True

In [15]:
name = "Paul"
is_student = name=="Paul" or name=="Mark"
print(is_student)

True

In [16]:
word = "Amigo"
palabra = 'Welcome to "Mcdonald\'s" '
print(palabra,word)

Welcome to "Mcdonald's"  Amigo

In [17]:
print(1<4 and 1>5)
print(1<2 and 1<7)
print(1<4 or 22>11)
print(1<2 or 1>8)

False
True
True
True

<h2 style="text-align:center; color: purple;"> CALCULADORA </h2>

In [18]:
numero1 = int(input("Escribe un numero"))
numero2 = int(input("Escribe otro número"))
elecciones = [
    "+","-","*","/"
    ]
print(elecciones)
decision=input("Elige el signo según la operación")
if decision=="+":
    print("El resultado es :" , numero1+numero2)
elif decision == "-":
    print("El resultado es: ",numero1-numero2)
elif decision == "*":
    print("El resultado es: ",numero1*numero2)
elif decision == "/":
    print("El resultado es: ",numero1/numero2)

Escribe un numero56
Escribe otro número65
['+', '-', '*', '/']
Elige el signo según la operación+
El resultado es : 121

<h3> FUNCIONES </h3>

In [19]:
#lower
word = "Hello here"
print(word.lower())
print(word.islower())

hello here
False

In [20]:
#count
print(word.count('e'))
print(word.find('e'))

3
1

In [21]:
#format
print('Welcome {} to the AI course'.format('Paul'))
print("{} has {} pets ".format('Mary',5))

Welcome Paul to the AI course
Mary has 5 pets

In [22]:
#split
new_word = "I like extreme sports"
print(new_word.split())
print(new_word.split(' ',2))

['I', 'like', 'extreme', 'sports']
['I', 'like', 'extreme sports']

<h1 style="text-align:center;">ESTRUCTURA DE DATOS </h1>

LISTAS

<p style="text-align:center;color: orangered;"> El primer elemento de una lista tiene indice 0 </p>

In [23]:
list_things = [60,7.8,"string",True,"ultimo"]
print(list_things)
print(list_things[1])
print(list_things[-1])
#Slicing
print(list_things[0:3])
print(list_things[:3])
print(list_things[3:4])
print(list_things[3:])

[60, 7.8, 'string', True, 'ultimo']
7.8
ultimo
[60, 7.8, 'string']
[60, 7.8, 'string']
[True]
[True, 'ultimo']

In [24]:
 # not in , in 
list_numbers = [ 1,2,3,4,5]
print(10 in list_numbers)
print(10 not in list_numbers)

False
True

In [25]:
# Mutability
numbers  = [3,4,5,6]
numbers[0] = "tres"
print(numbers)

word = "palabra"
print(word[0])
# word[0] = "J" ----ESTO GENERA ERROR, CON LOS STRINGS NO HAY MUTABILIDAD-------

['tres', 4, 5, 6]
p

In [26]:
#Order
print(numbers[1])
print(word[1])

4
a

<h4> FUNCIONES DE LISTAS </h4>

In [27]:
#len
#CALCULA LA LONGITUD DE LA LISTA
numbers = [1,20,3,4,5,6]
letters = ["a","b","c","d"]
print(len(numbers))
print(len(letters))

6
4

In [28]:
#max
print(max(numbers))
print(max(letters))
 # ESTO NOS DA ERROR POR SER DE DIVEROS TIPOS print(max(list_mix))

20
d

In [29]:
#min
print(min(numbers))
print(max(letters))

1
d

In [30]:
#sorted retorna una copia de lista ordenada de mayor a menor
print(sorted(numbers))
print(numbers)

[1, 3, 4, 5, 6, 20]
[1, 20, 3, 4, 5, 6]

In [31]:
#join
print(' - '.join(['Steven','Paul','John']))
print(' & '.join(['Ana','Andrea','Nicoll']))

Steven - Paul - John
Ana & Andrea & Nicoll

In [32]:
#append añade un elemento al final de la lista
#Podemos agregar cualquier tipo de dato
letters = ['a','b','c','d','g']
letters.append('m')
#letters.append(['n,x'])
letters.append(5)
print(letters)
#Si queremos agregar dos elementos o más
#extend 
letters.extend(['z','h'])
print(letters)

['a', 'b', 'c', 'd', 'g', 'm', 5]
['a', 'b', 'c', 'd', 'g', 'm', 5, 'z', 'h']

In [33]:
#remove 
letters.remove('z')
print(letters)
#pop
letters.pop(0)
print(letters)

['a', 'b', 'c', 'd', 'g', 'm', 5, 'h']
['b', 'c', 'd', 'g', 'm', 5, 'h']

In [34]:
#Eliminar el último elemento
letters.pop(-1)
print(letters)

['b', 'c', 'd', 'g', 'm', 5]

<h4 style="text-align:center; color: green;"> TUPLAS </h4>

LAS TUPLAS NO SOPORTAN CAMBIOS EN SUS ELEMENTOS
NO SON MUTABLES

In [35]:
location_home = (34.567,56.890)
print(location_home[0])
#location_home[0] = 78.78
dimensions = (45,67,90)
#Los valores de las tuplas pueden ser asignados a otras variables
lenght,width,height =  dimensions
#Recordando lo ya visto con la funcion format()
print('dimensions length: {} width: {} height : {} '.format(lenght,width,height))
#CUANDO USAR UNA TUPLA?
#CUANDO LOS AVLORES ESTEN RELACIONADOS Y QUE NO LOS VAMOS A CAMBIAR

34.567
dimensions length: 45 width: 67 height : 90

<h3 style="text-align:center; color:blue">SETS </h3>

UN SET ES UNA COLECCIÓN DE ELEMENTOS ÚNICOS QUE NO ESTAN ORDENADOS, LOS ELEMENTOS DUPLICADOS DE LA LISTA VAN A SER ELIMINADOS

In [36]:
#SET ELIMINA Y AÑADE DATOS DE MANERA RANDOM
numbers = [4,6,8,8,9,10,10]
unique_numbers = set(numbers)
print(unique_numbers)
# Los números duplicados han sido eliminados

{4, 6, 8, 9, 10}

CREEMOS UN SET

In [37]:
fruits = {'banana','apple','orange'}
print('mango' in fruits)

False

In [38]:
#AGREGAR ELEMENTOS DENTRO DE UN SET
#FUNCIÓN ADD
fruits.add('mango')
print(fruits)
#LO AÑADE EN CUALQUIER POSICIÓN
fruits.add('pera')
print(fruits)

{'orange', 'banana', 'mango', 'apple'}
{'orange', 'apple', 'pera', 'banana', 'mango'}

In [39]:
#ELIMINAR ELEMENTOS

fruits.pop()
print(fruits)

{'apple', 'pera', 'banana', 'mango'}

<h3 style="background-color: red; color: white; text-align:center;"> DICCIONARIOS </h3>

SON UN TIPO DE ESTRUCTURA DE DATOS QUE NOS PERMITEN
GUARDAR ELEMENTOS CONFORMADOS POR CLAVE Y VALOR

In [40]:
elements = {'name': 'Mark','lastname': 'Harris','age': 30}
print(elements['name'])
print(elements['age'])
#LOS DICCIONARIOS NO SE LLAMAN POR SU POSICIÓN COMO LAS LISTAS

Mark
30

In [41]:
# Si no nos acordamos la clave
# get
# 1 argumento la clave que buscamos 
# 2 argumento mensaje si no lo encuentra
print(elements.get('hobbie','404 Not found'))

404 Not found

In [42]:
dic_students = {1:'Steven', 2: 'John', 3: 'Paul'}
print(dic_students.get(1))

Steven

NO SE ESTA REFIRIENDO A UNO COMO POSICIÓN 
SINO COMO CLAVE

In [43]:
# USAR TUPLAS COMO CLAVE 
dic_coordenadas = {(100,400): 'New York', (300,500):'Miami'}
print(dic_coordenadas.get((100,400)))
#EL VALOR SE OBTIENE CON LA CLAVE 
#EN ESTE CASO LA CLAVE ES UNA TUPLA

New York

In [44]:
# AÑADIR ELEMENTOS A DICCIONARIOS
dic_workers = {1:'Juan',2:'Juliana'}
print(dic_workers)
dic_workers[3] = 'Mariana'
print(dic_workers)

{1: 'Juan', 2: 'Juliana'}
{1: 'Juan', 2: 'Juliana', 3: 'Mariana'}

In [45]:
#PARA ELIMINAR ELEMENTOS OPERAMOS CON SU CLAVE
dic_workers.pop(1)
print(dic_workers)

{2: 'Juliana', 3: 'Mariana'}

In [46]:
# not in , in
#VERIFICAR SI LA CLAVE O EL VALOR ESTÁN EN LA LISTA
#PARA LA CLAVE
print(1 in dic_workers)
print(2 in dic_workers)
#PARA EL VALOR
print('Juliana' in dic_workers.values())
#VERIFICAR SI NO ESTÁ EN LA LISTA
print('Karen' not in dic_workers.values())

False
True
True
True

CONVERTIR  DE JSON A PYTHON

In [47]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# el resultado es un diccionario de python
print(y["age"])

30

CONVERTIR  DE PYTHON  A JSON

In [48]:
import json

# UN OBJETO PYTHON (OSEA UN DICCIONARIO) A CONTINUACIÓN:
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# Convertir en JSON
y = json.dumps(x)

# el resultado es un JSON string
print(y)

{"name": "John", "age": 30, "city": "New York"}

<h1 style="text-align:center;"> CONDICIONALES </h1>

CONTROL DE FLUJO
ES UN BLOQUE DE CÓDIGO DONDE PODEMOS AGREGAR VARIAS INSTRUCCIONES

CONDICIONAL IF 
Si se evalua verdadera se ejecuta la instrucción 
ELIF es la contracción entre else e if 
ELSE si las condiciones evaluadas en IF y ELIF son falsas se ejecuta

In [49]:
# if 
x , y = 17, 16
if x > y :
    print('{} es mayor a {}'.format(x,y))

17 es mayor a 16

In [50]:
season = 'summer'
list_friends = []
beach_name = ''
if season == 'summer':
    print('Go to the beach')
    list_friends = ['Carmen','Jose']
    beach_name = 'Río de Janeiro'
else:
    print('Stay home')
    #print(list_friends)
#print(beach_name)

Go to the beach

In [51]:
badget = 500
holidays = 'India'
if holidays =='New York':
    badget = 1000
elif holidays == 'India':
    badget = 2000
elif holidays == 'Brazil':
    badget = 1500
else:
    badget = 50 
    
print('Presupuesto total {}'.format(badget))

Presupuesto total 2000

<H3 style="text-align:center; color:red;"> FOR </H3>

CICLO FOR EN UNA LISTA

In [52]:

numbers = [1,2,3,4]
for number in numbers:
    print(number)
#range
#range(0,5,1)
print('')
print("Otro ejercicio")
print('')

for number in range(1,4,2):
    print(number)

1
2
3
4

Otro ejercicio

1
3

In [53]:
# FOR QUE CONVIERTE LOS ELEMENTOS EN MAYÚSCULAS O MINÚSCULAS
#LUEGO LOS AGREGA A UNA LISTA VACÍA 
colors = ['White','Black','Red']
lower_colors = []
capitalized_colors = []
for color in colors:
    lower_colors.append(color.lower())
    capitalized_colors.append(color.upper())
print(lower_colors)
print(capitalized_colors)

['white', 'black', 'red']
['WHITE', 'BLACK', 'RED']

CICLO FOR EN UN DICCIONARIO

In [54]:
# FOR USADO PARA IMPRIMIR ELEMENTOS DE UN DICCIONARIO
#FOR USADO PARA IMPRIMIR CLAVES D EUN DICCIONARIO

students = {'Mary': 39 , 'Pablo':45}
for student in students.values():
    print(student)
for student in students:
    print(student)
for name,age  in students.items():
    print(name,age)

39
45
Mary
Pablo
Mary 39
Pablo 45

In [3]:
# EL CICLO FOR USADO PARA SUMAR VALORES DE DICCIONARIOS
frutas = {'naranja':19 ,'manzanas':10,'limones':5, 'papaya': 10}
count = 0
for element in frutas.values():
    count +=  element
print(count)

44

<h3 style="color:purple; background-color:black; font-size:50px; text-align:center;"> CICLO WHILE (MIENTRAS) </h3>

In [56]:
   #contador
count = 0
while count <5:
        print('count {}'.format(count))
        count += 1

count 0
count 1
count 2
count 3
count 4

In [57]:
# JUEGO DE 21 DE CARTAS 
cards = [4,2,8,13]
my_cards =  []

while sum(my_cards)<21:
    my_cards.append(cards.pop())
print(my_cards)

[13, 8]

¿CUANDO USAR FOR Y CUANDO USAR WHILE?
#FOR : CANTIDAD DE ITERACIONES ES CONOCIDA
#WHILE : CUANDO LA CANTIDAD DE ITERACIONES NO ES CONOCIDA

<strong> ¿COMO PODEMOS SALIR DE ESTOS CICLOS WHILE Y FOR? </strong>

--break: salir del bucle
--continue : salta una iteraciòn

In [58]:
#break 
future_savings = {'January':130,'February': 160,'March':180,'April':140,'May':90}
final_mounth = ''
total = 0
#mounth itera las claves osea los meses
#money itera los valores osea los nùmeros
#por medio de la funciòn items en este diccionario
for mounth,money in future_savings.items():
    #total es igual a la suma en cada iteraciòn de los valores numèricos
    total  += money 
    #si total es mayor o igual a 500 
    # final_mounth sera igual a mounth osea el mes en el que tendremos el dinero
    if total >= 500:
        final_mounth = mounth 
        #break rompe el ciclo cuando eso suceda 
        break
        #imprimir las dos variables
print(final_mounth,total)

April 610

In [59]:
# continue
future_savings = {'January':130,'February': 160,'March':180,'April':140,'May':90}
final_mounth = ''
total = 0

for mounth, money in future_savings.items():
    if mounth == 'March':
        continue
    total += money 
print(final_mounth,total)

 520

OTRO EJEMPLO PARA QUE QUEDE MÀS CLARO

In [60]:
#Omita la iteración si la variable i es 3, pero continúe con la siguiente iteración:
for i in range(9):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8

La palabra clave se utiliza para finalizar la iteración actual en un bucle (o un bucle) y continúa hasta la siguiente iteración.

In [61]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9

In [62]:
#zip 
# retorna un objeto iterable de tuplas 
status_logs = ['HTTP OK', 'HTTP NOT FOUND']
page_logs = ['main.html','index.html']
print(status_logs,page_logs)

for status,page in zip(status_logs,page_logs):
    print(status,page)
    
list_logs = list(zip(status_logs,page_logs))
print(list_logs)

tuple_status, tuple_page = zip(*list_logs)
print(tuple_status,tuple_page)

['HTTP OK', 'HTTP NOT FOUND'] ['main.html', 'index.html']
HTTP OK main.html
HTTP NOT FOUND index.html
[('HTTP OK', 'main.html'), ('HTTP NOT FOUND', 'index.html')]
('HTTP OK', 'HTTP NOT FOUND') ('main.html', 'index.html')

In [63]:
countries = ['Brazil', 'Chile','China']
capital = ['Brazilia','Santiago','Pekin']

for country,capital in zip(countries,capital):
    print(country,capital)

Brazil Brazilia
Chile Santiago
China Pekin

¿CUANDO USAR ZIP?
ZIP OCUPA MUY POCA MEMORIA
SI QUEREMOS RECORRER LISTAS MUY LARGAS PODEMOS USAR ZIP YA QUE ES MUY RÀPIDO

In [64]:
#enumerate
# es muy parecida a zip
# solo necesitamos una lista
students = ['Mary','Carol','Luis']
for index, name in enumerate(students):
    print(index,name)

0 Mary
1 Carol
2 Luis

LA ANTERIOR FUNCIÒN ES SUPER ÙTIL
YA QUE NO TENEMOS QUE CREAR UNA VARIABLE PARA LOS INDICES Y ESTAR SUMANDO
SOLO USAR ENUMERATE

In [65]:
things = ['laptop','celular','desktop','book']
for index, name in enumerate(things):
    print(index,name)

0 laptop
1 celular
2 desktop
3 book

ESTA ES LA ÙLTIMA PARTE DE CONTROL DE FLUJO

<h1 style="text-align:center; color: orangered;"> FUNCIONES </h1>

PARA CREAR UNA FUNCIÒN DEBEMOS INICIARLA CON LA PALABRA DEF

LAS FUNCIONES PUEDEN RETORNAR UN VALOR O IMPRIMIR UN VALOR
PUEDEN TENER O NO ARGUMENTOS

In [66]:
#def 

def greetings():
    print("Hello")
    
greetings()

Hello

CREAREMOS UNA FUNCIÒN CON ARGUMENTOS

In [67]:
def square_area(lado):
    return lado **2
square_area(10)

100

CALCULAR EL ÀREA DEL CÌRCULO

In [68]:
def circle_area(radio):
    pi = 3.1416 
    return pi*radio**2
# print(pi) esto nos darìa error
#tratar de imprimir la variable fuera de la funciòn 
# solo se puede acceder en la funciòn 
circle_area(4)

50.2656

In [69]:
def square_area(lado):
    return lado **2

def circle_area(radio):
    pi = 3.1416 
    return(pi*radio**2)
my_function = square_area(2)
my_function_ = circle_area(3)
print(my_function,my_function_)

4 28.2744

In [70]:
#AHORA MIRA EL RESULTADO DE LA MISMA FUNCIÒN
#SOLO QUE EN VEZ DE RETURN USAREMOS PRINT
#FUNCIÒN SIN RETORNAR
def square_area(lado):
    print(lado **2)

def circle_area(radio):
    pi = 3.1416 
    return(pi*radio**2)
my_function = square_area(2)
my_function_ = circle_area(3)
print(my_function,my_function_)

4
None 28.2744

In [71]:
square_area(lado = 4)
#square_area(4)

16

In [72]:
def square_area(lado=5):
    return lado **2

In [73]:
square_area()

25

<h1> FUNCIONES LAMBDA </h1>

LAS FUNCIONES LAMBDA SONA QUELLAS QUE NO TIENEN NOMBRE
SON MÙY UTILES PARA ESCRIBIR FUNCIONES  CORTAS

In [74]:
def multiply(x):
    return x*5
multiply(3)

15

In [75]:
multiply_lambda= lambda x: x*5 
multiply_lambda(3)

15

In [76]:
# FUNCIÒN LAMBDA QUE CALCULA SI UN NÙMERO ES DIVISIBLE EN OTRO
divisible = lambda x,y: x % y == 0
divisible(30,5)

True

In [77]:
# filter
numbers = [4,6,9,2]
def multiple_dos(x):
    return x %2 == 0
list(filter(multiple_dos,numbers))

# Ahora escribamos esa funciòn normal como funciòn lambda
list(filter(lambda x: x % 2 == 0, numbers))

[4, 6, 2]

In [78]:
# map 
# Es parecido a filter 
# la diferencia es que mapa evalua uno a uno los elementos y retorne un objeto
# para cada posiciòn pero nod escarta ninguno a diferencia de filter
def multiple_dos(x):
    return x % 2 == 0
#list(map(multiple_dos,numbers))

list(map(lambda x: x % 2 == 0,numbers))

[True, True, False, True]

In [79]:
def multiple_dos(x):
    return x % 2 == 0
#list(map(multiple_dos,numbers))

list(map(lambda x: x *6 ,numbers))

[24, 36, 54, 12]

MAP LO QUE HACE ES COLOCAR CADA RESULTADO EN LA LISTA

VEAMOS OTRO EJEMPLO

In [80]:
things = ['Mary','food','laptop','Jose']
#filter
#filter solo deja los elementos que cumplen esta condiciòn

names = list(filter(lambda x: x[0].isupper(),things))
print(names)

['Mary', 'Jose']

In [81]:
#map
#map deja todos los elementos y solo los evalua

check_names = list(map(lambda x: x[0].isupper(),things))
print(check_names)

[True, False, False, True]

<h1 style="text-align:center; color: orange; font-size: 100px;">POO </h1>
<strong> PROGRAMACIÒN ORIENTADA A OBJETOS </strong>

ES UNA PARADIGMA DE PROGRAMACIÒN QUE NOS PERMITE CREAR GRANDES PROGRAMAS QUE SEAN MODULARES Y EXTENDERLOS

<h6>  CLASES </h6>

UNA CLASE ES UNA FORMA DE ENPAQUETAR ATRIBUTOS, MÈTODOS DE ALGO QUE PODEMOS
REPRESENTAR EN EL MUNDO REAL
UNA CLASE PUEDE  SER:
ESTUDIANTES, PROFESIONES, ANIMALES
UN OBJETO:
UN OBJETO ES UNA INSTANCIA DE UNA CLASE 
LA CLASE PUEDE SER ANIMALES
Y EL OBJETO ES UN PERRO
LA CLASE APARATOS
EL OBJETO COMPUTADORA
ATRIBUTOS SOND ESCRIPCIONES DE UNA CARACTERÌZTICA
UN PERRO :
SU PESO
SU RAZA
UN MÈTODO SON ACCIONES QUE UN OBJETO PUEDE UTILIZAR
: CORRER
COMER
LADRAR

UN CONSTRUCTOR ES UN MÈTODO QUE SE LLAMA PARA CREAR UN OBJETO DE ESA CLASE

In [82]:
class Worker : 
    # INICIALIZADOR
    # self hace referencia a la misma clase
    def __init__(self,name,age):
        self.name = name
        self.age = age 
        # setters : actualizan un valor dentro de la clase
    def set_salary(self,salary):
        self.salary = salary 
        #getters: obtener valor
    def get_net_salary(self):
        return 0.9 *  self.salary

In [83]:
worker_one = Worker('Juan', 40)
#print(worker_one)
print(worker_one.name)
print(worker_one.age)
# ERROR SI EJECUTO ESTO: print(worker_one.salary)
#POR ENDE DEBO LLAMAR A SET

worker_one.set_salary(400)
print(worker_one.salary)
print(worker_one.get_net_salary())

Juan
40
400
360.0

AHORA VEAMOS COMO MODIFICAR O ACTUALIZAR LOS ATRIBUTOS DE UNA CLASE

SI YO QUIERO ACTUALIZAR EL NOMBRE DE WORKER ONE

In [84]:
worker_one.name = 'Laura'
print(worker_one.name)
worker_one.age = 66
print(worker_one.age)
worker_one.salary = 668
print(worker_one.salary)

Laura
66
668

<h3> HERENCIA </h3>

LA HERENCIA NOS VA A SERVIR PARA CREAR CLASES NUEVAS 
A PARTIR DE CLASES EXISTENTES
LA CLASE PADRE DE DOCTOR ES WORKER

In [85]:
class Doctor(Worker):
    def __init__(self,name,age,especialidad):
        Worker.__init__(self,name,age)
        self.especialidad = especialidad
    def schedule_operation(self):
        if self.especialidad == 'cardiologo':
            return '8 am'
        elif self.especialidad == 'neurólogo':
            return '4pm'
        else:
            return '12pm'
    def get_net_salary(self):
        Worker.set_salary(self,1000)
        
        if self.especialidad == 'cardiologo':
             return self.salary * 1.5
        elif self.especialidad == 'neurólogo':
            return self.salary * 2
        else:
            return self.salary

In [86]:
doctor = Doctor('Luis',45,'cardiologo')
print(doctor.age)
print(doctor.schedule_operation())
print(doctor.get_net_salary())

45
8 am
1500.0

<h1> FELICIDADES </h1>
<p>
    CON ESTOS CONCEPTOS YA PUEDES EMPEZAR CON ALGORITMOS DE
    INTELIGENCIA ARTIFICIAL
    </p>

<a href="CLASEDOS.html"> SIGUIENTES LECCIONES </a>

<img src="https://aeonmerx.com/assets/about.png">

 <h2> SOMOS AEON MERX GRACIAS POR ASISTIR </h2>

DUDAS ESCRIBIR A: william.rativa4@misena.edu.co